{% extends 'base.html.twig' %}

{% block body %}

    <h1>Homepage</h1>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>Hello my friend {{ user }}</p>
        <a class="link" href="{{ path('logout') }}">Logout</a>
    {% else %}
        <a class="link" href="{{ path('login') }}">Login</a>
    {% endif %}

{% endblock %}