{% extends 'base.html.twig' %}

{% block title %}Reg page{% endblock %}
{% block body %}
    <h1>Reg page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}